div.h1 {
    font-size: 50px;
}
div.h1 .cents-label {
    font-size: 20px;
    line-height: 40px;
    margin-right: 2px;
    vertical-align: top;
}
.badge {
    font-size: 15px;
}
.container h3 {
    text-transform: none;
}