<div class="sidebar navbar-nav">
	<ul>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/admin//dashboard']" [routerLinkActive]="'active'">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false" [ngClass]="{ 'active': isFilesLink }">
				<i class="fas fa-fw fa-folder"></i>
				<span>Files</span>
			</a>
			<div class="dropdown-menu" aria-labelledby="pagesDropdown">
				<a class="dropdown-item" [routerLink]="['/admin/files/']">Overview</a>
				<a class="dropdown-item" [routerLink]="['/admin/files/create']">Create</a>
			</div>
		</li>
	</ul>
</div>