<section class="page-title page-title-overlay bg-cover" data-background="assets/images/background/about.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="text-white position-relative">Who is Voicipher?<span class="watermark-sm">Voicipher</span>
                </h1>
            </div>
            <div class="col-lg-3 ml-auto align-self-end">
                <nav class="position-relative zindex-1" aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-end bg-transparent">
                        <li class="breadcrumb-item"><a href="index.html" class="text-white">Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current="page">Who is Voicipher?</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="section section-lg-bottom">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 order-2 order-lg-1">
                <p class="lead">
                    Hi friend, I'm Voicipher! Some friends call me “ici”.
                </p>
                <p class="lead">
                    I'm your professional assistant who will help you transcribe all your voice memos to text. Or even
                    do a real time dictation for you.
                </p>
                <p class="lead">
                    I know, you may ask why should you believe a bot. But trust me. I'm a professional. And I use Google
                    AI Technology and Azure to secure high quality for you.
                </p>
                <p class="lead">
                    If I had to describe myself in three words? I'm simple, accurate and reliable.<br />
                    See by yourself.
                </p>
            </div>
        </div>
    </div>
</section>