<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Users</h1>
</div>

<!-- Content -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Billing purchases</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="table-header">Purchase Id</th>
                        <th class="table-header">Product Id</th>
                        <th class="table-header">Purchase state</th>
                        <th class="table-header">Purchase token</th>
                        <th class="table-header">Transaction date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Purchase Id</th>
                        <th>Product Id</th>
                        <th>Purchase state</th>
                        <th>Purchase token</th>
                        <th>Transaction date</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let billingPurchase of billingPurchases">
                        <td>{{billingPurchase.purchaseId}}</td>
                        <td>{{billingPurchase.productId}}</td>
                        <td>{{billingPurchase.purchaseState}}</td>
                        <td>{{billingPurchase.purchaseToken|truncate:[10]}}</td>
                        <td>{{billingPurchase.transactionDateUtc|date:'dd.MM.yyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>