<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/admin/files">Files</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Files
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="table-header">Name</th>
                        <th class="table-header">Date created</th>
                        <td class="table-header">Status</td>
                        <th class="table-header">Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Date created</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let fileItem of fileItems">
                        <td>{{fileItem.name}}</td>
                        <td>{{fileItem.dateCreated|date}}</td>
                        <td>{{fileItem.recognitionState|recognitionState}}</td>
                        <td>
                            <a *ngIf="fileItem.CanUploadFile" (click)="transcribe(fileItem.id)">Transcribe | </a>
                            <a *ngIf="!fileItem.CanUploadFile" [routerLink]="['/admin/files', fileItem.id]">Detail | </a>
                            <a [routerLink]="['/admin/files/edit', fileItem.id]">Edit | </a>
                            <a (click)="remove(fileItem)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>