<section class="page-title page-title-overlay bg-cover" data-background="images/background/about.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-white position-relative">
                    Privacy policy<span class="watermark-sm">Privacy policy</span>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <p class="lead">
                Your privacy is important to us. It is Voicipher's policy to respect your privacy regarding any
                information we may collect from you across our website, <a
                    [routerLink]="['/']">https://voicipher.com/</a>.
            </p>

            <h4>What data do we collect?</h4>
            <p class="lead">
                We only ask for personal information when we truly need it to provide a service to you. We collect it by
                fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and
                how it will be used:
            </p>
            <ul class="lead">
                <li>Your Login data</li>
                <li>The sole purpose of storing your login account association is to provide you the access to
                    previously transcribed document on a new device.</li>
                <li>Name and surname</li>
                <li>E-mail</li>
                <li>
                    User data<br />
                    The sole purpose of collecting user data is to improve the product and enhance our users'
                    experience.
                </li>
                <li>All uploaded files and transcriptions</li>
            </ul>

            <h4>Recipients</h4>
            <p class="lead">
                Voicipher uses third party applications which are getting basic data (email, name and surname,...), or
                uploaded files only in order to provide you with our services. Our website may also link to external
                sites that are not operated by us.
            </p>
            <p class="lead">
                Please be aware that we have no control over the content and practices of these sites and this part
                applications, and cannot accept responsibility or liability for their respective privacy policies.
            </p>

            <h4>Analytics</h4>
            <p class="lead">
                Voicipher uses third-party and App Center crash reporting to gather usage data and technical problems
                information. Voicipher collects and stores certain information about your visit to help us to better
                align our mobile and web app design with your needs. The information Voicipher and these third-party
                services collect includes:
            </p>
            <ul class="lead">
                <li>The operating system of your device</li>
                <li>The technical failure log (if any)</li>
            </ul>
            <p class="lead">
                This information is only used to improve the product and enhance our users’ experience.
            </p>

            <h4>Transcriptions and real speech dictations</h4>
            <p class="lead">
                All uploaded files requested for transcription are sent to Google Cloud Speech-to-text. Real speech
                transcription requests are sent to Microsoft Azure Speech Recognition. Both provide strong security
                measures to protect your files. You can read more about their practices here:
            </p>
            <ul class="lead">
                <li>Google Cloud Speech-to-text</li>
                <li>Microsoft Azure Speech Recognition</li>
            </ul>

            <h4>Payment information</h4>
            <p class="lead">
                We don't collect any payment information such as credit card information, card holder's name, etc. All
                payments are operated by Google Play or Apple Store. What we only collect is basic information like
                invoice numbers or date of transaction.
            </p>

            <h4>Cloud Infrastructure</h4>
            <p class="lead">
                All of our services run in the cloud. We don’t host or run our own routers, load balancers, DNS servers,
                or physical servers. Our service is built on Azure Web Services, Google Cloud Platform and Smarter
                ASP.Net. They provide strong security measures to protect our infrastructure and are compliant with most
                certifications. You can read more about their practices here:
            </p>
            <ul class="lead">
                <li><b>Azure Web Services</b></li>
                <li><b>Google Cloud Platform</b></li>
                <li><b>Smarter ASP.Net</b></li>
            </ul>

            <h4>How do we protect your information?</h4>
            <p class="lead">
                We take the security of your personal information very seriously. What data we store, we’ll protect
                within commercially acceptable means to prevent loss and theft, as well as unauthorized access,
                disclosure, copying, use or modification.
            </p>
            <p class="lead">
                However, we cannot ensure or warrant the security of any information you transmit to Voicipher or
                guarantee that your information on the Voicipher may not be accessed, disclosed, altered or destroyed by
                breach of any of our industry standard physical, technical or managerial safeguards. When you enter your
                data we encrypt that information using secure socket layer technology (SSL). No method of transmission
                over the Internet or method of electronic storage, is 100% secure, however. Therefore, we cannot
                guarantee its absolute security.
            </p>
            <p class="lead">
                However, we don’t share any personally identifying information publicly or with third-parties, except
                when required to by law or in order to provide you with our services.
            </p>
            <p class="lead">
                We take the following specific steps to protect your information:
            </p>
            <ul class="lead">
                <li>Use internal access controls so only limited personnel have access to your information.</li>
                <li>All information is secured through modern security technologies like secure socket layer (SSL),
                    firewalls, and secure passwords.</li>
            </ul>

            <h4>GDPR</h4>
            <p class="lead">
                We are compliant to the General Data Protection Regulation (GDPR). The purpose of GDPR is to protect the
                private information of EU citizens and give them more control over their personal data.
            </p>

            <h4>How long do we keep your data?</h4>
            <p class="lead">
                We only retain collected personal information for as long as necessary to provide you with your
                requested service.
            </p>
            <p class="lead">
                You can do the following at any time by contacting us via the email address:
            </p>
            <ul class="lead">
                <li>Ask for a list of personal information we have about you, if any.</li>
                <li>Request a change, correction, or deletion of your personal information.</li>
                <li>Request that we avoid collecting anything in the future (opt-out) , with the understanding that we
                    may be unable to provide you with some of your desired services.</li>
            </ul>
            <p class="lead">
                You are free to refuse our request for your personal information, with the understanding that we may be
                unable to provide you with some of your desired services.
            </p>

            <h4>Declaration of the user</h4>
            <p class="lead">
                By using voicipher.com I declare that I have been informed of the processing of my personal data and my
                rights and I agree to receive newsletters to my email address.
            </p>

            <h4>Questions</h4>
            <p class="lead">
                Your continued use of our website will be regarded as acceptance of our practices around privacy and
                personal information. If you have any questions about how we handle user data and personal information,
                feel free to contact us on support@voicipher.com.
            </p>
            <p class="lead">
                All changes to this Privacy Policy are effective when they are posted on this page. When we change the
                policy, we will let you know via email.
            </p>
            <p class="lead">
                This policy is effective as of 1 March 2020.
            </p>
        </div>
    </div>
</section>