<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/']">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Voicipher</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">Overview</div>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
            <i class="fas fa-fw fa-table"></i>
            <span>Users</span></a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/deleted-accounts']" routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true}>
            <i class="fas fa-fw fa-table"></i>
            <span>Deleted user accounts</span></a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/administrators']" routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true}>
            <i class="fas fa-fw fa-table"></i>
            <span>Administrators</span></a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contact-forms']" routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true}>
            <i class="fas fa-fw fa-table"></i>
            <span>Contact forms</span></a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/information-messages']" routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true}>
            <i class="fas fa-fw fa-table"></i>
            <span>Push notifications</span></a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/settings']" routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true}>
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
    </li>
</ul>
<!-- End of Sidebar -->