<section class="page-title page-title-overlay bg-cover" data-background="assets/images/background/about.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="text-white position-relative">How to<span class="watermark-sm">How to</span></h1>
                <p class="text-white pt-4 pb-4">Cupidatat non proident sunt culpa qui officia deserunt mollit <br> anim
                    idest laborum sed ut perspiciatis.</p>
            </div>
            <div class="col-lg-3 ml-auto align-self-end">
                <nav class="position-relative zindex-1" aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-end bg-transparent">
                        <li class="breadcrumb-item"><a href="index.html" class="text-white">Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>