<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Push notifications</h1>
    <button [routerLink]="['/information-messages/create']"
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus-circle fa-sm text-white-50"></i> Create push notification
    </button>
</div>

<!-- Content -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Push notifications</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="table-header">Campaign name</th>
                        <th class="table-header">Date created</th>
                        <th class="table-header">Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Campaign name</th>
                        <th>Date created</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let informationMessage of informationMessages">
                        <td>{{informationMessage.campaignName}}</td>
                        <td>{{informationMessage.dateCreated|date:'dd.MM.yyy HH:mm:ss'}}</td>
                        <td>
                            <a [routerLink]="['/information-messages/detail', informationMessage.id]"
                                class="btn btn-link">Detail</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>