<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/admin/files">Files</a>
    </li>
    <li class="breadcrumb-item active">Detail</li>
</ol>

<div *ngIf="fileItem">
    <h2 class="mb-3">{{fileItem.name}}</h2>

    <div *ngFor="let transcribeItem of fileItem.transcribeItems">
        <div class="form-group shadow-textarea">
            <label for="transcript-{{transcribeItem.id}}">Transcript</label>
            <textarea class="form-control z-depth-1" id="transcript-{{transcribeItem.id}}"
                rows="7">{{transcribeItem.alternatives[0].transcript}}</textarea>
        </div>
    </div>
</div>