<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Administrators</h1>
    <button [routerLink]="['/administrators/create']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus-circle fa-sm text-white-50"></i> Create administrator
    </button>
</div>

<!-- Content -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Administrators</h6>
    </div>

    <!-- Card Body -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="table-header">Username</th>
                        <th class="table-header">First name</th>
                        <td class="table-header">Last name</td>
                        <th class="table-header">Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let administrator of administrators">
                        <td>{{administrator.username}}</td>
                        <td>{{administrator.firstName}}</td>
                        <td>{{administrator.lastName}}</td>
                        <td>
                            <button (click)="delete(administrator)" class="btn btn-link">Delete</button>
                            <span> | </span>
                            <a [routerLink]="['/administrators/edit', administrator.id]" class="btn btn-link">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>