<div class="col-xl-auto mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <button (click)="generateHangfireAccess()" class="btn btn-success mr-2 mb-2">Generate access to
                    Hangfire</button>
                <button (click)="navigateToHangfire()" class="btn btn-primary mr-2 mb-2">Navigate to Hangfire</button>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-auto mb-4">
    <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <span class="mr-2">Deployment:</span>
            <i *ngIf="isDeploymentSuccessful" class="fas fa-check-circle text-success"></i>
            <i *ngIf="!isDeploymentSuccessful" class="fas fa-exclamation-circle text-danger"></i>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a [routerLink]="['/users']" class="nav-link">Users</a>
                </h6>
            </div>
            <div class="card-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a [routerLink]="['/administrators']" class="nav-link">Administrators</a>
                </h6>
            </div>
            <div class="card-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a [routerLink]="['/contact-forms']" class="nav-link">Contact forms</a>
                </h6>
            </div>
            <div class="card-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a [routerLink]="['/information-messages']" class="nav-link">Push notifications</a>
                </h6>
            </div>
            <div class="card-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>