<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Files</h1>
</div>

<!-- Content -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Files Overview</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <a [routerLink]="['/files/create']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-3">
            <i class="fas fa-plus-circle fa-sm text-white-50"></i> Create new
        </a>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="table-header">Name</th>
                        <th class="table-header">Date created</th>
                        <td class="table-header">Status</td>
                        <th class="table-header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fileItem of fileItems">
                        <td><label>{{fileItem.name}}</label></td>
                        <td><label>{{fileItem.dateCreated|date}}</label></td>
                        <td>
                            <label class="col-md-8">{{fileItem.recognitionState|recognitionState}}</label>
                            <label *ngIf="fileItem.recognitionState >= 1 && fileItem.recognitionState <= 3"
                                class="text-primary text-right col-md-4">{{fileItem.percentageDone}}%</label>
                        </td>
                        <td class="actions">
                            <a *ngIf="fileItem.CanTranscribe" (click)="transcribe(fileItem)">Transcribe</a>
                            <span *ngIf="fileItem.CanTranscribe"> | </span>
                            <a *ngIf="fileItem.CanTranscribe" [class.disabled]="fileItem.IsInProgress"
                                class="btn btn-link" [routerLink]="['/files/edit', fileItem.id]">Edit</a>
                            <span *ngIf="fileItem.CanTranscribe"> | </span>
                            <a *ngIf="fileItem.IsCompleted" [class.disabled]="fileItem.IsInProgress"
                                class="btn btn-link" [routerLink]="['/files', fileItem.id]">Edit</a>
                            <span *ngIf="fileItem.IsCompleted"> | </span>
                            <a *ngIf="fileItem.IsCompleted" [class.disabled]="fileItem.IsInProgress"
                                class="btn btn-link" (click)="download(fileItem)">Download</a>
                            <span *ngIf="fileItem.IsCompleted"> | </span>
                            <a [class.disabled]="fileItem.IsInProgress" class="btn btn-link"
                                (click)="delete(fileItem)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>